$pink: #c35;
$light-pink: #f5b2c8;
$light-grey: #888;
$lighter-grey: rgb(185, 185, 185);
$light-blue: #9fd6fa;
$dark-blue: #234;
$light-bg: #fafafa;

/* Tiny reset */

html,
body,
div,
form,
fieldset,
legend,
label,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* Style */

html,
body {
  height: 100%;
}

body {
  font-family: Georgia, Times, serif;
  font-size: 120%;
  line-height: 1.58;
  border-top: 0.5em solid $pink;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 70px;
}

header {
  font-size: .8em;
  text-align: center;
}

.logo {
  width: 175px;
  margin: auto;
}

.bio {
  width: 210px;
  margin: auto;
}

main {
  padding: 20px;
  margin-bottom: 50px;
  max-width: 650px;
}

main article {
  margin-bottom: 40px;
}

main img {
  max-width: 100%;
}

main video {
  max-width: 100%;
}

.homepage h1 {
  font-size: 130%;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    max-width: 900px;
  }

  main {
    padding: 0px 30px;
    margin-left: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: 400;
}

.post-meta {
  color: $light-grey;
  font-style: italic;
  margin: 0px;
  font-size: 90%;
}

.homepage .post-meta {
  font-size: 80%;
}

code {
  background: $light-bg;
  // border: 1px solid $code-border;
  border-radius: 6px;
  display: inline-block;
  font-family: "Courier New", "Courier", monospace;
  -moz-font-feature-settings: "liga"off;
  font-feature-settings: "liga"off;
  font-size: 16px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 5px;
  vertical-align: middle;
  word-wrap: normal;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

blockquote {
  border-left: 4px solid $light-blue;
  font-style: italic;
  margin: 4px 10px;
  padding: 3px 20px;
}

pre {
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

h1 {
  font-size: 1.87em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  margin-top: 0px;
  font-style: italic;
}

::selection {
  background: black;
  color: white;
}

// Anchor tags
a {
  color: $pink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header nav ul {
  display: inline-block;
  text-align: initial;
  padding-left: 0px;
}

header nav li:not(:first-child):before {
  content: " · ";
}

header nav li {
  list-style: none;
  display: inline;
}

.button {
  background-color: $pink;
  padding: 10px;
  color: white;
}

figure {
  font-size: .9em;
  font-style: italic;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  text-indent: 0;
}

figcaption {
  margin-top: 10px;
}

.comments {
  list-style: none;
  display: inline;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#teaser {
  background: $pink;
  color: $light-pink;
}

#teaser a {
  color: white;
}

#teaser a::after {
  content: '\a0»';
}

footer {
  // margin-top: 50px;
  background: $dark-blue;
  color: $lighter-grey;
  // bottom: 0;
  // position: absolute;
  // width: 100%;
  // margin-top: auto;
  // flex-shrink: 0;
}

#teaser .body,
footer .body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer nav {
  float: left;
  // text-align: right;
  // margin-left: -8em;
  width: 7em;
}

footer nav ul {
  list-style: none;
  padding-left: 0;
}

footer .field {
  padding: 10px;
  font-size: 0.8em;
  border: none;

  .email {
    background-color: white;
    flex: 2;
  }

  .submit {
    background-color: $lighter-grey;
    flex: 1;
  }
}