{% extends "index.html" %}

{% block header %}
    <title>All {{ term.pages | length }} {{ term.name }} posts | Matthias Endler</title>
{% endblock header %}

{% block content %}


<h1>{{ term.pages | length }} articles tagged with <span class="tag">{{ term.name }}</span></h1>
    {% for page in paginator.pages %}
        {% include "snippets/article.html" %}
    {% endfor %}
    <div style="display: flex; justify-content: space-between">
        {% if paginator.previous %}
            <a class="btn" href="{{ paginator.previous}}">« Next</a>
        {% endif %}
        {% if paginator.next %}
            <a class="btn" href="{{ paginator.next }}">Previous »</a>
        {% endif %}
    </div>
{% endblock content %}