<figure>
    {% if link %}
    <a href="{{ link }}">
        {% endif %}

        <img src="{{ src }}" {% if alt %} alt="{{ alt }}" {% endif %}
        {% if width %} width="{{ width }}" {% endif %} {% if height %} height ="{{ height }}" {% endif %} 
        />

        {% if link %}
    </a>
    {% endif %}
    {% if caption or credits %}
    <figcaption>
        {% if caption %}
        {{ caption | markdown(inline=true) | safe }}
        {% endif %}
        {% if credits %}<br />
        {{ credits | markdown(inline=true)| safe }}
        {% endif %}
    </figcaption>
    {% endif %}
</figure>