<article class="homepage">
    <a class="title" href="{{ page.permalink | safe }}">
        <h1>{{ page.title }}</h1>
    </a>

    <p class="excerpt">
        {% if page.summary %}
            {{ page.summary | safe | striptags }}
        {% elif page.extra.excerpt %}
            {{ page.extra.excerpt | safe | striptags }}
        {% else %}
            {{ page.content | striptags | truncate(length=300) | safe }}
        {% endif %}

        <a href="{{ page.permalink }}">More »</a>
    </p>
</article>