<article class="homepage">
    <p class="post-meta">
        {{ macros::nicedate(daynum=page.day, date=page.date) }}
        {%- if page.updated %}
            &middot; Updated on {{ macros::nicedate(date=page.updated) }}
        {%- endif %}
        {%- if page.taxonomies.tags %}
            &middot; Tagged with
            {% for tag in page.taxonomies.tags %}
                <a href="/tags/{{tag}}">{{tag}}</a>
            {%endfor%}
        {%- endif %}
    </p>
    <a href="{{ page.permalink | safe }}">
        <h1>{{ page.title }}</h1>
    </a>

    {% if page.summary %}
        {{ page.summary | safe | striptags }}
    {% elif page.extra.excerpt %}
        {{ page.extra.excerpt | safe | striptags }}
    {% else %}
        {{ page.content | striptags | truncate(length=300) | safe }}
    {% endif %}

    <a href="{{ page.permalink }}">More »</a>
</article>