<div class="info">
  <p>
    Thanks for reading! In case you enjoyed this, you might want to be
    interested in becoming a better programmer. CodeCrafters is the platform I
    genuinely recommend to friends for this. You can
    <a href="https://app.codecrafters.io/join?via=mre"
      >try CodeCrafters for free here</a
    >
    and get 40% off if you upgrade to a paid plan later.
  </p>
  <p>
    Full disclosure: I receive a commission for new subscriptions, but I would
    recommend CodeCrafters even if I didn’t.
  </p>
</div>
