<div class="info">
  <p>
    Thanks for reading! If you would like to receive future
    posts automatically, you can subscribe via email or <a href="/rss.xml">RSS</a>.
  </p>
  <form
    action="https://tinyletter.com/mre"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/mre', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true"
  >
    <p>
      <input
        class="field email"
        type="email"
        name="email"
        id="tlemail"
        placeholder="E-Mail Address"
      />
      <input type="hidden" value="1" name="embed" /><input
        class="field submit"
        type="submit"
        value="Subscribe"
      />
    </p>
  </form>
  <p>
    I'd love to write more.
    <a href="https://github.com/sponsors/mre/">
      Would you like to help me?
    </a>
  </p>
</div>
