{% import "_macros.html" as macros %} 
{% set css = load_data(path="public/main.css") %}
{% set logo = load_data(path="static/logo.svg") %}
{% set logo_font_light = load_data(path="static/logo_font_light.svg") %}
{% set logo_font_dark = load_data(path="static/logo_font_dark.svg") %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {{ css | safe }}
    </style>
    {%- block header %}
    <title>Matthias Endler</title>
    {%- endblock header %}
    <link rel="canonical" href="{{ current_url | safe }}" />

    <link rel="icon" href="data:image/svg+xml;utf8,{{ logo }}" />

    <link href="/rss.xml" rel="alternate" type="application/rss+xml" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="author" content="Matthias Endler" />
    <meta
      name="description"
      content="Personal website of Matthias Endler, a Software Engineer interested in low-level programming and Backend development. Rust, Go"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <div class="navwrapper">

          <a href="/" aria-label="Go back to homepage">
            {# The logo class allows overwriting the image if needed #}
            {# Inlining the width and margin here to avoid flashing content on render #}
            <div class="logo">
              {{ logo | safe }}
            </div>
          </a>
          <div class="biowrapper">
            <a href="/" aria-label="Go back to homepage">
              <div class="logo_font">
                <div class="logo_font_dark">
                {{ logo_font_dark | safe }}
                </div>
                <div class="logo_font_light">
                {{ logo_font_light | safe }}
                </div>
              </div>
            </a>
            <p class="bio">
              <span>Open-source maintainer, speaker, rebel.</span>
              <a href="/about">About me.</a>
            </p>
            {% include "snippets/nav.html" %}
          </div>
        </div>
        {% include "snippets/search.html" %}
      </header>

      <main>
        {% block content %}
          {% for page in paginator.pages %}
            {% include "snippets/article.html" %}
          {% endfor %}

          <div style="display: flex; justify-content: space-between">
            {% if paginator.previous %}
              <a class="btn" href="{{  paginator.previous}}">« Next</a>
            {% endif %}
            {% if paginator.next %}
              <a class="btn" href="{{  paginator.next }}">Previous »</a>
            {% endif %}
          </div>
        {% endblock content %}
      </main>
    </div>
    {% block teaser %} {% endblock teaser %} {% include "snippets/footer.html"
    %}
  </body>
</html>
