{% extends "index.html" %} {%- block header %}
<title>{{ page.title }} | Matthias Endler</title>
<link rel="canonical" href="{{ page.permalink | safe }}" />
{%- if page.extra.css %}
<link href="./article.css" rel="stylesheet" />
{%- endif %}
<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-dark-custom.css"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-light-custom.css"
  media="(prefers-color-scheme: light)"
/>
{%- if page.extra.excerpt %}
  {%- set social_description = page.extra.excerpt | safe %}
{%- elif page.summary %}
  {%- set social_description = page.summary | safe %}
{%- else %}
  {%- set social_description = page.content | truncate(length=50) | safe %}
{%- endif %}

{%- if page.extra.social_img %}
  {% set relpath = current_path ~ page.extra.social_img %}
  {%- set social_img = get_url(path=relpath) %}
{% else %}
  {%- set social_img = "https://endler.dev/default.png" %}
{%- endif %}

<meta property="og:title" content="{{ page.title }} | Matthias Endler" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ social_description | safe | striptags }}" />
<meta property="og:url" content="https://endler.dev{{ page.path | safe }}" />
<meta property="og:image" content="{{ social_img | safe }}" />

<meta name="twitter:title" content="{{ page.title | safe }}">
<meta name="twitter:description" content="{{ social_description | safe | striptags }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@matthiasendler">
<meta name="twitter:creator" content="@matthiasendler">
<meta name="twitter:image" content="{{ social_img | safe }}">
{%- endblock header -%}

{%- block content %}

<article>

  <h1>{{ page.title }}</h1>

  {%if page.extra.subtitle %}
  <h3>&mdash; {{ page.extra.subtitle }}</h3>
  {% endif %}
  

  <p class="post-meta">
    Published on {{ macros::nicedate(date=page.date) }} {%- if page.updated %}
    &middot; Updated on {{ macros::nicedate(date=page.updated) }} {%- endif %}
  </p>
  
  {{ page.content | safe }}

  <ul class="post-links">
    {% if page.extra.comments %}
    <li>{{ macros::comments(comments=page.extra.comments) }}</li>
    {% endif %} {% if page.extra.translations %}
    <li>{{ macros::translations(translations=page.extra.translations) }}</li>
    {% endif %}
  </ul>

  {% if page.taxonomies.tags and ("dev" in page.taxonomies.tags or "oss" in page.taxonomies.tags or "rust" in page.taxonomies.tags) %}
      {% include "snippets/codecrafters.html" %}
  {% endif %}

  {% if page.extra.credits %} 
    Thanks to  
    {% for credit in page.extra.credits | sort(attribute="name") %}
      <a href="{{ credit.url }}">{{ credit.name }}</a>
      {%- if not loop.last %},{% endif %}
    {% endfor %}
    for reviewing drafts of this article.
  {% endif %}
</article>

{% endblock content %}
