{% extends "index.html" %}

{% block header %}
<title>{{ page.title }} | Matthias Endler</title>
{% endblock header %}

{% block content %}
{% set data = load_data(path="content/static/talks/data.toml") %}

<h1>{{ page.title }}</h1>
<p>
{{ data.intro | markdown | safe }}
</p>

{% for talk in data.talks %}
<article>
    <h2 id="{{ talk.title | slugify }}">
       {% if talk.type and talk.type != "Talk" %} {{ talk.type }}: {% endif %}{{ talk.title }}
    </h2>
    <p>
        {% if talk.recording %}{% set link = talk.recording %}
        {% elif talk.slides %}{% set link = talk.slides %}
        {% else %}{% set link = "" %}
        {% endif %}

        {% if link %}
        <a aria-label="Link to talk" href="{{ link }}">
        {% endif %}
            <img alt="Me speaking at {{ talk.event }} in {{ talk.date }}" style="width:100%;" src="{{ talk.image }}" />
        {% if link %}
        </a>
        {% endif %}
    <ul>
        <li><b>Event:</b> {{ talk.event }}, {{ talk.date }}</li>
        <li><b>Location:</b> {{ talk.location }}</li>
        {% if talk.collaboration %}<li>In collaboration with {{ talk.collaboration | markdown(inline=true) | safe }}</li>{% endif %}
        {% if talk.recording %}<li><a href="{{ talk.recording }}">Recording</a></li>{% endif %}
        {% if talk.slides %}<li><a href="{{ talk.slides }}">Slides</a></li>{%endif%}
        {% if talk.code %}<li><a href="{{ talk.code}}">Code</a></li>{% endif %}
    </ul>
    {{ talk.description | markdown(inline=true) | safe }}
    </p>
</article>
{% endfor %}
This is just an excerpt. You can find all my other talks on
<a href="https://speakerdeck.com/mre">Speakerdeck</a>.
{% endblock content %}

